
<h1> CALCULADORA CASIO </h1>
<div class="integ">
  <p>Nombre de los integrantes: {{nombre1}} y {{nombre2}}</p> <!--Variables para declarar datos-->
</div>

<div id="calculator">
  <div id="screen" class="screen">{{ result }}</div>
  <div class="button-container">
    <button class="button" (click)="buttonClick('1')">1</button>
    <button class="button" (click)="buttonClick('2')">2</button>
    <button class="button" (click)="buttonClick('3')">3</button>
    <button class="button" (click)="buttonClick('+')">+</button>
    <button class="button" (click)="buttonClick('4')">4</button>
    <button class="button" (click)="buttonClick('5')">5</button>
    <button class="button" (click)="buttonClick('6')">6</button>
    <button class="button" (click)="buttonClick('-')">-</button>
    <button class="button" (click)="buttonClick('7')">7</button>
    <button class="button" (click)="buttonClick('8')">8</button>
    <button class="button" (click)="buttonClick('9')">9</button>
    <button class="button" (click)="buttonClick('')"></button>
    <button class="button" (click)="buttonClick('0')">0</button>
    <button class="button" (click)="buttonClick('.')">.</button>
    <button class="button" (click)="buttonClick('/')">/</button>
    <button class="button" (click)="clear()">C</button>
    <button class="buttonB" (click)="calculate()">=</button>
  </div>
</div>

<!--
  <div>
  <input type="text" id="palabra" value="">
  <input type="button" id="btt" (click)="palindromo()" value="ENVIAR">
  <div id="pal1">{{respal}}</div>
</div>
-->
<!--
<div>
  <input type="number" id="num" value="">
  <input type="number" id="pot" value="">
  <input type="button" id="btn" (click)="potencia()" value="ENVIAR">
  <div id="pal1">{{respot}}</div>
</div>
-->
<div>
<app-palindromo></app-palindromo>
<app-potencia></app-potencia>
</div>
